html, body {
  margin: 0;
  font-family: "Sans serif";
}

.row {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.col {
  display: table-cell;
  vertical-align: top;
  height: 100%;
  position: relative;
}

.fill-screen-height {
  min-height: 100vh;
}

.image {
  background-size: cover;
  background-position: center;
  transition: opacity .5s;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image.active {
  opacity: 1;
}

.highlight {
  background: #FFD7B5;
  font-style: italic;
}

header {
  overflow: hidden;
  min-height: 100vh;
}

.brand {
  color: #F8892C;
  font-size: 30px
}

.content {
  min-height: 100vh;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0;
}

.subtitle {
  font-weight: lighter;
}

.waitlist-form {
  margin: 40px 0px;
  padding: 20px;
  border: 2px dashed #C4C4C4;
  border-radius: 4px;
}

.waitlist-form label {
  display: block;
  margin: 20px 0;
  font-weight: lighter;
}

.waitlist-form .row {
  border-spacing: 10px;
}

.waitlist-form input {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  text-indent: 10px;
}

.waitlist-form button {
  background: #F8892C;
  border-radius: 4px;
  border: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  height: 54px;
}

.waitlist-form .bottom-line {
  margin-top: 20px;
  font-weight: lighter;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  border-top: 1px solid #E3E3E3;
  color: #828282;
  text-align: center;
}

footer > p {
  margin-bottom: 20px;
  font-size: 20px;
}

.image.first {
  background-image: url('../images/first.jpeg');
}

.image.second {
  background-image: url('../images/second.jpeg');
}

.image.third {
  background-image: url('../images/third.jpeg');
}

.image.fourth {
  background-image: url('../images/fourth.jpg');
}

.icon {
  width: 25px;
  height: 20px;
}

.text-grey {
  color: #828282;
}

.text-success {
  color: #1abd00;
}

.text-error {
  color: #fb000d;
}

@media (max-width: 278px) {
  div.image.second {
    background-position: center !important;
  }
}

@media (max-width: 500px) {
  .image.second {
    background-position: 0 -10vh !important;
  }
}

@media (max-width: 930px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .row div:not(.carrousel) {
    order: 2;
  }

  .carrousel {
    height: 40vh !important;
  }

  .waitlist-form input {
    margin-bottom: 10px;
  }

  .content {
    padding: 20px;
  }

  .title {
    font-size: 30px !important;
  }

  .image.second {
    background-position: 0 -20vh;
  }

  .image.fourth {
    background-position: top;
  }
}
